wsdl/ManageUserInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.userinfo.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageUserInfoService" targetNamespace="http://app.userinfo.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://app.userinfo.com/" schemaLocation="ManageUserInfoService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addUserInfo">
    <part element="tns:addUserInfo" name="parameters"/>
  </message>
  <message name="addUserInfoResponse">
    <part element="tns:addUserInfoResponse" name="parameters"/>
  </message>
  <message name="updateUserInfo">
    <part element="tns:updateUserInfo" name="parameters"/>
  </message>
  <message name="updateUserInfoResponse">
    <part element="tns:updateUserInfoResponse" name="parameters"/>
  </message>
  <message name="deleteUserInfo">
    <part element="tns:deleteUserInfo" name="parameters"/>
  </message>
  <message name="deleteUserInfoResponse">
    <part element="tns:deleteUserInfoResponse" name="parameters"/>
  </message>
  <message name="distributeUserPermission">
    <part element="tns:distributeUserPermission" name="parameters"/>
  </message>
  <message name="distributeUserPermissionResponse">
    <part element="tns:distributeUserPermissionResponse" name="parameters"/>
  </message>
  <portType name="ManageUserInfoDelegate">
    <operation name="addUserInfo">
      <input message="tns:addUserInfo"/>
      <output message="tns:addUserInfoResponse"/>
    </operation>
    <operation name="updateUserInfo">
      <input message="tns:updateUserInfo"/>
      <output message="tns:updateUserInfoResponse"/>
    </operation>
    <operation name="deleteUserInfo">
      <input message="tns:deleteUserInfo"/>
      <output message="tns:deleteUserInfoResponse"/>
    </operation>
    <operation name="distributeUserPermission">
      <input message="tns:distributeUserPermission"/>
      <output message="tns:distributeUserPermissionResponse"/>
    </operation>
  </portType>
  <binding name="ManageUserInfoPortBinding" type="tns:ManageUserInfoDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addUserInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateUserInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteUserInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="distributeUserPermission">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ManageUserInfoService">
    <port binding="tns:ManageUserInfoPortBinding" name="ManageUserInfoPort">
      <soap:address location="http://localhost/ManageUserInfoPort"/>
    </port>
  </service>
</definitions>
